# Prerequisites
*.d

#bins
scanner
fcc
a.out

#lex and bison files
lex.yy.*
*.tab.*
C_grammar.output

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#meta data file?
.idea
#vim files
*.swp
*.swo
